html, body{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #mynetwork {
    height: 100%;
  }

  .box {
display: flex;
flex-flow: column;
height: 99%;
}

.box .row.header {
flex: 0 1 auto;
overflow-y: scroll;
}


#content {
display: none;
position: absolute;
top: 0;
background-color: white;
padding: 10px;
margin: 10px;
max-height: 15%;
overflow-y: scroll;
border: 1px solid gray;
}
.vis-network { outline: none; }
.vis-active:focus {
  outline: none;
}
